body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #afffaf, #afffaf);
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 420px;
    margin: 80px auto;
    padding: 40px;
    background: #afbbff;
    
    border-radius: 18px;
    box-shadow: 0 6px 18px rgb(0, 0, 0);
}

h1 {
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    color: #ffffff;
}

.caixa1 {
    background: #f6f6f6;
    padding: 25px;
    margin: 18px 0;
    border-radius: 14px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.caixa2 {
    background: #f6f6f6;
    padding: 25px;
    margin: 18px 0;
    border-radius: 14px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.gols {
    margin: 10px 0 18px 0;
    min-height: 40px;
}

.bolinha {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d3/Soccerball.svg");
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #333;
}

.btnGolsA {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background: #1e90ff;
    cursor: pointer;
    transition: 0.25s;
}

.btnGolsB {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background: #1e90ff;
    cursor: pointer;
    transition: 0.25s;
}

.btnZerar {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.btnZerar {
    background: #e74c3c;
    font-size: 17px;
    margin-top: 10px;
    padding: 14px 30px;
}



